main {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 100px;
  flex-direction: column;
}
body {
  height: 100%;
}

li {
  cursor: pointer;
}

li:active {
  background-color: lightgray;
}

li.done {
  text-decoration: line-through;
}
